.ResultCard {
  display: inline-block;
  background-color: #fff;
  border-radius: 15px;
  padding: 1em;
  margin: 0.5em 0.5em 1em 0;
  cursor: pointer;

  &-content {
    display: flex;
    white-space: nowrap;
    font-weight: $bold;
    text-align: justify;
  }

  &-icon {
    margin-right: 20px;
    width: 2em;
    height: 2em;
  }

  &-result {
    font-size: 0.9em;
  }

  &-title {
    font-size: 0.8em;
    color: #707070;
    text-transform: capitalize;
  }
}
