.SpecialityProfileCard {
  background-color: #fff;
  padding: 1em;
  width: 90%;
  margin: auto;
  margin-bottom: 1em;
  border-radius: 15px;
  border: 1px solid #ececec;
  font-family: 'Poppins', sans-serif;

  .top-section {
    display: flex;
    margin-bottom: 1em;
  }

  &-avi-section {
    margin-right: 0.8em;
  }

  &-avatar-container {
    position: relative;
  }

  &-avatar {
    border-radius: 50%;
    width: 5.5em;
    height: 5.5em;
    overflow: hidden;
    border: 3.1px solid #fff;
    margin-left: 10px;
    margin-top: 0.5em;
    margin-bottom: 1em;
    position: relative;
    img {
      height: 100%;
      width: 100%;
    }
  }

  &-percentage-rating {
    background-color: #7be495;
    color: #fff;
    position: absolute;
    height: 2.3em;
    width: 2.3em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -0.5em;
    right: 0;
    border: 1px solid #fff;
    font-size: 0.9em;
    padding: 1.2em;
    font-weight: $medium;
  }

  &-votes {
    color: #898a8f;
    font-size: 0.8em;
    margin-bottom: 0.3em;
  }

  &-feedback {
    font-size: 0.8em;
  }

  &-details-section {
    width: 100%;
  }

  &-name-rating {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
  }

  &-name {
    color: #313450;
    font-weight: $medium;
    text-transform: capitalize;
    text-align: left;
  }

  &-star-rating {
    white-space: nowrap;
  }

  &-rating {
    color: #898a8f;
  }

  &-star {
    margin-right: 0.3em;
  }

  &-summary {
    color: #898a8f;
    text-align: left;
    padding: 0.5em;
    padding-left: 1em;
    border: 1px solid #ececec;
    font-size: 0.75em;
    border-radius: 10px;
    width: 100%;
    line-height: 1.5;
    overflow: hidden;
    margin-bottom: 0.8em;
  }

  &-qualifications {
    text-transform: uppercase;
  }

  &-title-location {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.8em;
    color: #898a8f;
  }

  &-title-icon {
    margin-right: 0.5em;
    width: 0.8em;
  }

  &-location-icon {
    margin-right: 0.5em;
    width: 1em;
  }

  &-title,
  &-location {
    display: flex;
    align-items: center;
  }

  &-get-appointment {
    color: #56c596;
    font-weight: $semi-bold;
    border: 1px solid rgba(86, 197, 150, 0.28);
    border-radius: 50px;
    display: inline-flex;
    padding: 0.5em 0.9em;
    cursor: pointer;
  }

  .DoctorProfileCard-select {
    padding: 0.65em 4.5em;
    width: initial;
    display: inline-block;
  }

  &-categories {
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
  }

  &-category {
    color: #898a8f;
    border: 1px solid #ececec;
    border-radius: 50px;
    padding: 0.2em 1em;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 0.5em;
    cursor: pointer;

    p {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .and-more {
    overflow: initial;
  }

  &-speciality {
    text-transform: capitalize;
  }
}
