.ForgotPassword {
  min-height: 100vh;
  padding-top: 5em;
  padding-bottom: 3em;
  color: $secondary-text;

  &-image {
    margin-top: 0.5em;
  }

  &-email-image,
  &-otp-image {
    margin-top: 1.5em;
  }

  &-password-image {
    margin-top: 2.5em;
  }

  &-text {
    font-size: 0.9em;
    font-weight: $semi-bold;
    margin: 1.8em 0;
  }

  &-text-2 {
    font-size: 0.85em;
    font-weight: $semi-bold;
    color: #707070;
    margin-bottom: 1.5em;
  }

  .password-text {
    margin-top: 2.5em;
    margin-bottom: 3.8em;
  }

  .hurray-text {
    margin-top: 1.5em;
    margin-bottom: 5em;
  }

  &-method {
    display: flex;
    align-items: center;
    width: 80%;
    height: 4em;
    margin: 1em auto;
    background-color: rgba(86, 197, 150, 0.08);
    border: 1px solid rgba(112, 112, 112, 0.08);
    border-radius: 20px;
    padding: 0 1em;
    cursor: pointer;

    p {
      font-weight: $semi-bold;
      color: #707070;
      text-align: left;
    }

    img {
      margin-right: 3.5em;
      width: 2em;
      height: 2em;
    }
  }

  .NewPassword-btn {
    width: 75%;
    margin-top: 2em;
  }

  .Hurray-btn {
    width: 75%;
    margin-top: 5em;
  }

  .SMS-btn {
    margin-top: 2em;
  }

  .email-text,
  .sms-text {
    margin-bottom: 0.5em;
  }

  &-form {
    width: 90%;
    margin: auto;
  }

  &-input-field {
    margin-bottom: 1.5em;
  }

  &-container-style {
    margin-top: 15%;
  }

  &-hint {
    font-size: 0.75em;
    margin-top: 0;
  }

  .OTP-form {
    margin: 0;
  }

  .OTP-help {
    margin: 2.5em 0;
  }
}
